{%extends "base.html"%}
{%block content%}

{%include "header.html"%}

    <h2>Professor Performance Search</h2>
    {{form.non_feild_errors}}
    <form names='prof_perf_form' method="POST">
        {% csrf_token %}
        {% comment %} <label for='pname'>Professor Name:</label>
        <input type='text' id='pname' name='pname'><br>
        <label for='pyear'>Class Year:</label>
        <input type='number' id='year' name='year'><br>
        <label for'sem'>Class Semester:</label>
        <select name='sem' id='sem'>
            <option value='1'>Fall</option>
            <option value='2'>Spring</option>
        </select><br> {% endcomment %}
        <label for='pname'>Professor Name:</label>
        {{form.pname}} <br>
        <label for='year'>Class Year:</label>
        {{form.year}}<br>
        <label for'sem'>Class Semester:</label>
        {{form.sem}} <br>
        <input type="submit" name='prof_perf_form' value="Submit Query">
    </form>

    {%if method == "POST" %}
    <!--Post method-->
        <div class='perf_tables'>
        {%if ClassError%}
        <h2 Style="color:red">Error:{{ClassError}}</h2>
        {%else%}
            <div class='perf_classes'>
                <p> Courses By Professor</p>
                <table>
                    <tr>
                        <td>ClassID</td>
                        <td>Section</td>
                    <tr>
                    {%for Te in Teach%}
                    <tr>
                        <td>{{Te.course_id}}</td>
                        <td>{{Te.sec_id}}</td>
                    </tr>
                {% endfor%}
                </table>
        {%endif%}
    </div>

    <div class='perf_papers'>
        <p>Paper By Professor</p>
        {%if PaperError%}
        <h2 Style="color:red">Error:{{PaperError}}</h2>
        {%else%}
        <table>
            <tr>
                <td>Paper Title</td>
                <td>Paper Budget</td>
                <td>Paper Publish Date</td>
            </tr>
            {%for pap in papers%}
            <tr>
                <td>{{pap.paper_title}}</td>
                <td>${{pap.budget}}</td>
                <td>{{pap.publish_date}}</td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
    </div>

    <div class='perf_grants'>
        <p> Grants Received by professor</p>
        {%if GrantError%}
        <h2 Style="color:red">Error:{{GrantError}}</h2>
        {%else%}
        <table>
            <tr>
                <td>Grant Title</td>
                <td>Grant Ammount</td>
            </tr>
            {%for grant in grants%}
            <tr>
                <td>{{grant.title}}</td>
                <td>${{grant.ammount}}</td>
            </tr>
            {%endfor%}
        {%endif%}
    </div>
</div>
{%endif%}
{%endblock%}
