{%extends 'base.html'%}

{%block content%}

{%include "header.html"%}
<div class= "body">

{%if prof_list%} <!--Case for if professor list can be found-->
<table>
    <tr>
        <td> Professor Name </td>
        <td> Department </td>
        <td> Professor Id </td>

    </tr>
    {% for prof in prof_list %}
        <tr>
            <td>{{ prof.name }}</td>
            <td>{{ prof.dept_name }}</td>
            <td>{{ prof.id }}</td>
        </tr>
    {% endfor %}
</table>
{%else%}
<p>No professors found, database error</p>
{%endif%}

</div>
{%endblock%}